<article class="quiz">
  <header class="quiz-header">
    <p-avatar label="Q" shape="circle" size="normal" />
  </header>
  <div class="quiz-content">
    <h2 class="quiz-title">
      <a [routerLink]="'/quizzes/' + quiz.id">{{ quiz.title }}</a>
    </h2>

    <p class="quiz-description">{{ quiz.description }}</p>
  </div>
  <footer class="quiz-footer">
    <p-button
      label="Visualizar"
      size="small"
      severity="secondary"
      text
      icon="pi pi-eye"
    />
    <p-button severity="primary" icon="pi pi-play" rounded />
  </footer>
</article>
