<article class="quiz">
  <header class="quiz-header">
    <p-avatar [icon]="userIcon" shape="circle" size="normal" />
  </header>
  <div class="quiz-content">
    <h2 class="quiz-title">
      <a [routerLink]="'/quizzes/' + quiz.id">{{ quiz.title }}</a>
    </h2>

    <p class="quiz-description">{{ quiz.description }}</p>
  </div>
  <footer class="quiz-footer">
    <time class="quiz-creation-date">{{ quiz.createdDate | date }}</time>
    <div class="quiz-actions">
      <p-button
        severity="primary"
        icon="pi pi-play"
        size="small"
        rounded
        pTooltip="Iniciar sessão"
        tooltipPosition="left"
      />
    </div>
  </footer>
</article>
