@import "primeng/resources/themes/aura-light-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";

.container {
  width: calc(100vw - 2rem);
  max-width: 960px;
  margin: 0 auto;
}
